/.ant-targets-build.xml
/.htaccess
/.php_cs.cache
/build/
/config/local.config.php
/config/database.ini
/logs/sql.log
/logs/application.log
/files/
/modules/
/themes/
/public/files/
/public/modules/
/public/themes/
/application/test/config/database.ini
/application/test/.phpunit.result.cache
/application/asset/css/font-awesome/
/vendor/
/node_modules/
.sass-cache
.DS_Store
/application/language/debug.*
/static/
###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

.castor.stub.php
application/data/doctrine-proxies/
logs/db.log
